{% extends 'base.html' %}
{% load specifications %}
{% block content %}
<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{%url 'base'%}">Главная</a></li>
        <li class="breadcrumb-item"><a href="#">{{ product.category.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="{{ product.image.url }}" class="mt-4">
        </div>
        <div class="col-md-3">
            <h4>{{ product.title}}</h4>
            <p>Цена: {{ product.price }}<p>
            <p>Описание: {{ product.description }}</p>
        </div>
            <p class=mt-4>Характеристики: </p>

        {{ product|product_spec  }}


<!--второй способ получения характеристи-->

<!--        {% if product.category.slug == 'smartphone' %}-->
<!--            {% include 'smartphone_specification.html' %}-->
<!--        {% else %}-->
<!--            {% include 'notebook_specification.html' %}-->
<!--        {% endif %}-->

    </div>
</div>
{% endblock %}